<!DOCTYPE HTML>
<html>
	<head>
		<title>The Dorkness</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/statictest/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/statictest/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>The Dorkness</h1>
								<p>Tobit and Danika</p>
							</div>
						</div>
						<nav>
							<ul>
							<!--	<li><a href="#intro">Intro</a></li> -->
								<li><a href="{{ url_for('login') }}">Log in</a></li>
								<li><a href="{{ url_for('register') }}">Register</a></li>
							<!--	<li><a href="#contact">Contact</a></li> -->

							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Login -->
							<article id="work">
								<h2 class="major">Log in</h2>
								<span class="image main"><img src="static/statictest/images/work.jpg" alt="" /></span>
								<p></p>
							</article>

						<!-- Register -->
							<article id="about">
								<h2 class="major">Register</h2>
								<span class="image main"><img src="static/statictest/images/about.jpg" alt="" /></span>
								<p></p>
							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/statictest/assets/js/jquery.min.js"></script>
			<script src="static/statictest/assets/js/browser.min.js"></script>
			<script src="static/statictest/assets/js/breakpoints.min.js"></script>
			<script src="static/statictest/assets/js/util.js"></script>
			<script src="static/statictest/assets/js/main.js"></script>

	</body>
</html>
